@media screen and (min-width: 320px) and (max-width: 480px){


  /*   .blockHeader__menuLanguage figure:nth-child(1) img {
        width: 100px;
    } */



    html {
    background-color: rgb(219, 221, 221);
    /* border-style: solid;
    border-color: coral; */
    margin: 0px;
    padding: 0px;
    /* border: 0px; */
}
body {
    /* background-color: rgb(255, 251, 0);
    border-style: solid;
    border-color: rgb(80, 255, 246);  */
    margin: 0px;
    padding: 0px;
    /* border: 0px; */
}
.main {
    /* height: 100vh; */
    /* border-style: solid;
    border-color: rgb(255, 80, 240);  */
    display: grid;
    /* grid-gap: 5px; */
    grid-template-columns: 480px;
}

figure {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
/* blockHeader-------------------------------------------------- */
.blockHeader {
    background-color:#8A0072;
    display: grid;
    grid-template-columns: 480px;
    grid-template-rows: 60px 2px 36px;
    /* margin: 5px 5px 2.5px 5px; */
    height: 95px;
}
.blockHeader__menuLanguage {
    display: grid;
    grid-template-columns: 40px 100px 1fr 1fr;
    grid-template-rows: 50px;  
}
.blockHeader--menu {
    width: 25px; 
    padding: 18px 0px 0px 12px;
}
.blockHeader--logGob {
    width: 60px;  
    padding: 24px 0px 0px 20px;
}
.blockHeader--logRenfe {
    width: 68px;
    padding: 24px 0px 0px 20px; 
}
.blockHeader--globo {
    width: 25px;
    padding: 22px 15px 0px 0px;
    float: right;
}

.blockHeader--line {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16px;   
}
.line {
    width: 100%;
    height: 1px;
    background-color:rgb(184, 149, 178);
    float: right;
}
.blockHeade__linkUser {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 36px; 
}
.blockHeader__linkUser span {
    text-decoration: underline;
    color: #ffffff;
    font-size: 18px;
    font-family: opensans700, Arial, sans-serif;
    float: right;
    padding: 4px 15px 0px 0px;
}

/* blockHeader-------------------------------------------------- */

/* blockTrips-------------------------------------------------- */
.blockTrips {
    background-color: white;
    border-radius: 6px ;
    /* border-style: solid;
    border-color: rgb(255, 106, 80);  */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 30px;
    margin: 5px 5px 2.5px 5px;
}
.blockTrips img {
    float: right;
    padding: 8px 8px 4px 0px;
    width: 23%;
}
.blockTrips__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0px 4px 4px 4px;
}
.blockTrips button {
    display: inline-block;
    border-radius: 6px ;
    border-style: none;
    height: 25px;
    margin: 0px 1px 0px 1px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #575656;
}
.blockTrips--buttonCoches {
    background-color: #c2e6b6; 
}
.blockTrips--buttonHoteles {
    background-color: #bbebf2; 
}
.blockTrips--buttonTrenHotel {
    background-color: #f5d0a0;
}
.blockTrips--buttonTrenOcio {
    background-color: #f0e6c6;  
}
/* blockTrips-------------------------------------------------- */
/* blockOriginDestiny-------------------------------------------------- */
.blockOriginDestiny {
    background-color: white;
    border-radius: 6px ;
    /* border-style: solid;
    border-color: rgb(255, 106, 80);  */
    display: grid;
    grid-template-columns: 125px 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5px 5px 2.5px 5px;
}
.blockOriginDestiny label{
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 15px 5px 2.5px 25px;
    color: #575656;
}
.blockOriginDestiny input{
    background-color: white;
    color: rgb(207, 214, 214);
    border-style: solid;
    border-radius: 3px ;
    height: 30px;
    margin: 5px 35px 2.5px 5px;
}

/* blockOriginDestiny-------------------------------------------------- */
/* blockDataTrip-------------------------------------------------- */
.blockDataTrip {
    background-color: white;
    border-radius: 6px ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 70px 70px 70px 70px;
    margin: 5px 5px 2.5px 5px;
}
.blockDataTrip__title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45px ;
    /* border-bottom: 2px dotted #dfdfdf; */
}
.blockDataTrip__title span:last-child {
    border-left: 2px dotted #dfdfdf;
    padding: 0px 5px 2.5px 25px;
}
.blockDataTrip__title span {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 15px 5px 2.5px 25px;
    color: #575656;
}
.blockDataTrip__departure, .blockDataTrip__return {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    border-top: 2px dotted #dfdfdf;
}

.blockDataTrip__departure img, .blockDataTrip__return img { 
    width: 15px;
    display: inline-block;
    opacity: 0.5;
}
.blockDataTrip__departure label:last-child, .blockDataTrip__return label:last-child{ 
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: -22px 5px 2.5px 140px;
    color: #909090;
}
.blockDataTrip__departure label, .blockDataTrip__return label { 
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 15px 5px 2.5px 190px;
    color: #575656;
}

.blockDataTrip__departure button, .blockDataTrip__return button { 
    border-style: none;
    width: 60px;
    height: 60px;
    margin: 0px 1px 0px 1px;
    font-family: Arial, sans-serif;
    font-size: 11px;
    background-color: white;
    color: #909090;
}
.blockDataTrip__dataDeparture, .blockDataTrip__dataReturn {
    display: grid;
    grid-template-columns: 120px 1fr ;
    grid-template-rows: 1fr ;
    width: 140px;
    height: 40px;
    color: rgb(207, 214, 214);
    border-style: solid;
    border-radius: 3px ;
    margin: 2px 5px 2.5px 110px;
    /* border-bottom: 2px dotted #dfdfdf; */
}
.blockDataTrip__dataDeparture input, .blockDataTrip__dataReturn input {
    border-style: none;
    width: 125px;
    text-transform:uppercase;
}
.blockDataTrip__dataDeparture img, .blockDataTrip__dataReturn img {
    width: 15px;
    margin: 15px 0px 0px 0px;
}
/* blockDataTrip-------------------------------------------------- */
/* blockTravellers-------------------------------------------------- */
.blockTravellers {
    background-color: white;
    border-radius: 6px ;
    display: grid;
    grid-template-columns: 1fr 153px  1fr;
    grid-template-rows: 20px 1fr;
    margin: 5px 5px 2.5px 5px;
}


.travellerAdult{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #575656;
    justify-self: center;
    padding: 5px 0px 0px 0px;
}
.travellerChild{
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #575656;
    justify-self: center;
    border-right: 2px dotted #dfdfdf;
    border-left: 2px dotted #dfdfdf;
    padding: 5px 0px 0px 0px;
}
.travellerBaby {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #575656;
    justify-self: center;
    padding: 5px 0px 0px 0px;
}
.travellerBaby span{
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #909090;
}
.blockTravellers figure{
    display: inline-block;
    margin: 0px 0px 0px 20px;
}


.blockTravellers__NumberChild {
    border-right: 2px dotted #dfdfdf;
    border-left: 2px dotted #dfdfdf;
    height: 60px;
 }


.travellerAdult--image {
    padding: 10px 0px 0px 0px;
    width: 12px;
    opacity: .5;
}
.travellerChild--image {
    padding: 10px 0px 0px 0px;
    width: 12px;
    opacity: .5;
}
.travellerBaby--image {
    padding: 28px 0px 0px 0px;
    width: 12px;
    opacity: .5;
}

.blockTravellers input {
    background-color: white;
    color: rgb(207, 214, 214);
    border-style: solid;
    border-radius: 3px ;
    width: 50px;
    height: 30px;
    margin: 5px 35px 2.5px 5px;
    text-emphasis-color: red;
}
/* blockTravellers-------------------------------------------------- */
/* blockDiscount-------------------------------------------------- */
.blockDiscount {
    background-color: white;
    border-radius: 6px ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5px 5px 2.5px 5px;
}
.blockDiscount label{
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 15px 5px 2.5px 25px;
    color: #575656;
}
.blockDiscount input{
    background-color: white;
    color: rgb(207, 214, 214);
    border-style: solid;
    border-radius: 3px ;
    height: 30px;
    margin: 5px 35px 2.5px 5px;
}
/* blockDiscount-------------------------------------------------- */
/* blockPromotionalCode-------------------------------------------------- */
.blockPromotionalCode {
    background-color: white;
    border-radius: 6px ;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
    margin: 5px 5px 2.5px 5px;
}
.blockPromotionalCode label{
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 15px 5px 2.5px 25px;
    color: #575656;
}
.blockPromotionalCode
 input{
    background-color: white;
    color: rgb(207, 214, 214);
    border-style: solid;
    border-radius: 3px ;
    height: 30px;
    margin: 5px 35px 2.5px 5px;
}
/* blockPromotionalCode-------------------------------------------------- */
/* blockButtonBuy-------------------------------------------------- */

.blockButtonBuy button{
    background-color: #8A0072;
    color: rgb(255, 255, 255);
    border-radius: 5px ;
    height: 50px;
    margin: 0px 0px 0px 4px;
    font-size: 20px;
    width: 473px;
}
/* blockButtonBuy-------------------------------------------------- */
/* blockAnimationImages-------------------------------------------------- */
.blockAnimationImages {
    background-color: white;
    display: grid; 
    overflow: hidden;
    width: 480px; 
    height: 500px;
    grid-template-columns: 480px 480px 480px 480px;
    grid-template-rows: 480px;
}
.blockAnimationImages figure{   
    display: inline-block;
}
.blockAnimationImages__Container {
  /*  animation: moveSlideshow 12s linear infinite;  */
}
.blockAnimationImages img{
    width: 480px; 
    height: 350px; 
    display: inline-block;
    
}
.linePurple {
    height: 6px;
    background-color: #8A0072;
}
.blackBlock {
    height: 60px;
    background-color: rgb(3, 0, 3);
}
.buttonSanitaryAlertNext{
    position: absolute;
    /* top: -70px; */ 
    z-index: 3; 
    /* overflow: visible; */
    margin: 370px 0px 0px 430px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 50px;
    font-family: Arial, sans-serif;
    font-size: 35px;
    border-style: none;
}

.blockAnimationImages__botton_01 {
    position: absolute;
    /* z-index: 3; */ 
    margin: -51px -58px -16px 80px;
    background-color: black;
    color: rgb(255, 255, 255);
    Text-decoration: none; 
    font-family: Arial, sans-serif;
    font-size: 10px; 
}  
.blockAnimationImages__botton_02 {
    position: absolute;
   /*  z-index: 3;  */
    margin: -36px -20px 0px 95px;
    background-color: black;
    color: rgb(255, 255, 255);
    Text-decoration: none; 
    font-family: Arial, sans-serif;
    font-size: 15px; 
    justify-content: center;
    align-content: center; 
}  
/*   .blockHeader__menuLanguage figure:nth-child(1) img {
        width: 100px;
    } */
@keyframes moveSlideshow {
    0% { 
    transform: translateX(-0px);
}
    16% { 
    transform: translateX(-0px);  
}
    32% { 
    transform: translateX(-480px);  
}
    48% { 
    transform: translateX(-480px);  
}
    64% { 
    transform: translateX(-960px);  
}
    80% { 
    transform: translateX(-960px);  
}
    96% { 
    transform: translateX(-1440px);  
}
    100% { 
    transform: translateX(-1440px);  
}
}


}





/* blockAnimationImages-------------------------------------------------- */
/* blockHelpt-------------------------------------------------- */

.blockHelpt {
    background-color: white;
    border-radius: 6px ;
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px 5px 2.5px 5px;
}


.blockHelpt a{ 
    color: #292929;
    Text-decoration: none; 
    font-family: Arial, sans-serif;
    font-size: 20px; 
    align-self: center;
    justify-self: center;   
}
.blockHelpt .blockHelpt__Links, .blockHelpt__H1{ 
    color: #292929;
    Text-decoration: none; 
    font-family: Arial, sans-serif;
    font-size: 20px; 
    align-self: center;
    /* justify-self: center;  */  
}
.blockHelpt__H1 {
    padding:  20px 0px 0px 0px;
    font-size: 30px;
}
.blockHelpt__Hello span{
    color: red;
}
.blockHelpt figure{
    align-self: center;
    justify-self: center;
    display: inline-block;
    margin: 0px 0px 0px 20px;
    
}
.blockHelpt img:nth-child(1){
    width: 270px;
}
.blockHelpt__H1 img:nth-child(1){
    width: 20px;
}
#newwin{
    width: 20px;
}
.blockHelpt__Links a{
    text-transform: uppercase;
    font-weight: bolder;
}
/* blockHelpt-------------------------------------------------- */
.blockAppRenfe {
    background-color: white;
    border-radius: 6px ;
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    margin: 5px 5px 2.5px 5px;
}
.blockAppRenfe a {
    font-family: Arial, sans-serif;
    font-size: 20px; 
    align-self: center;
    justify-self: center;
    margin: 0px 0px 0px 20px;
    color: #292929;
    Text-decoration: none; 
}
}

