@font-face {
    font-family: "OpenSans-ExtraBold_700";
    src: local("fonts/openSans_700/OpenSans-ExtraBold.ttf");
    }
html {
    font-size: 62.5%;
}
body {
    background-color: #f3f3f3;
}
*{
    font-family: 'OpenSans-ExtraBold_700', 'Arial', 'sans-serif';  
}
label {
    cursor: pointer;
}
/* ºheader---------------------------------------------------*/
header {
   /*  min-width: 480px; */
   height: 100px;
    background-color: #8A0072;
    display: grid;
    grid-template: 1fr 1fr 1fr / 60px 120px 120px 1fr ;
    grid-template-areas: 'menuLeft logoGob logoRenfe    menuRigth'
                         '.        h1       h1           h1'
                         'worldNav worldNav worldNav worldNav';
    align-items: center;
    align-self: center;
}
header img {
    width: 3em;
}
.header__menuCanvasWindow {
    grid-area: menuLeft;
    z-index: 100;
    align-self: center;
    justify-self: start;
    padding-left: 1em;
}
.header--logoGob {
    grid-area: logoGob;
    width: 10em; 
    align-self: center;
    justify-self: center;
    padding-top: 1em;
}
.header--logoRenfe {
    grid-area: logoRenfe;
    width: 10em; 
    align-self: center;
    justify-self: center;
    padding-top: 1em;
}
.header__worldCanvasWindow {
    grid-area: menuRigth;
    align-self: center;
    justify-self: end; 
    padding-right: 1em;  
}
h1 {
    grid-area: h1; 
    align-self: center;
    justify-self: end; 
    font-size: 1.5em;
    text-transform: uppercase;
    padding-right: .5em;
}
h1 a{
    text-decoration: underline;
    color: white;
}
h2 {
    grid-area: h2; 
    align-self: center;
    justify-self: end; 
    font-size: 3em;
}
h2 a{
    text-decoration: underline;
    color: white;
}
.header__ImageUserContainer, .header__menuNav_02, h2, .header__worldNav, input, .header__screem{
    display: none;
}

/* Properties of rigth menu */
.header__menuNav {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 83px;
    left: -100%;
    background:rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100vh; 
    padding-top: 2em;
    transition: all .5s;
}
/* Properties of rigth world menu */
.header__worldNav {
    grid-area: worldNav;  
    list-style: none;
    margin: 0px;
    padding: 0px;
    background:rgba(255, 255, 255, 0.9);
    width: 100%;
    padding-top: 2em;
    transition: all .5s;
}
/* When checked de image open and close de menu */
#openOffCanvas:checked ~ .header__menuNav {
    left: 0px;
  }
/* When checked de image open and close de menu */
#openOffCanvasWorld:checked ~ .header__worldNav {
    display: block;
  }

.header__menuNav li,  .header__worldNav li {
    font-size: 2em;
    margin: 10px;
    padding: 10px;
    border: 8px;
    border-bottom: 1px solid  #a8a7a7;
}
.header__menuNav li a,  .header__worldNav li a{
    color: #8A0072;
}
/* ºheader---------------------------------------------------*/
.block {
    width: 100%;
    height: 200px;
    background-color: blue;
}


@media screen and (min-width: 1023px){
    header {
        background-color: #8A0072;
        display: grid;
        grid-template: 2px 50px 50px/ 150px 150px 60px 400px 40px 500px ;
        grid-template-areas: '.        .          .        .          .           .  '
                             'logoGob  logoRenfe  screem   worldNav    imageUser   h2 '
                             'logoGob  logoRenfe  screem    menuNav2  .            h1 ';
        align-items: center;
        align-self: center;
    }
    .header--logoGob {
        margin-top: 100px;
    }
    .header--logoRenfe {
        margin-top: 100px;
    }
    .header__ImageUserContainer {
        grid-area: imageUser; 
        display: block;
        opacity: 0.6;
        margin-top: 20px;
        justify-self: start; 
    }
    
    h1 a {
        color:  #8A0072;
        font-size: .8em;
        justify-self: start;  
    }
    h1 {
        z-index: 100;
        justify-self: start;
        margin-bottom: 70px; 
    }
    h2 a { 
        color:  #838383;
        font-size: .3em; 
        text-decoration: none;  
    }
    h2 {
        display: block;
        z-index: 100;  
        justify-self: start;  
    }
    .header__worldNav, .header__menuNav_02{
        display: block;
    }
    .header__menuCanvasWindow, .header__worldCanvasWindow {
        display: none;
    }
    .header__screem {
        display: block;
        grid-area: screem;
        width: 9000%;
        height: 96%;
        background-color: white;
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
    .header__screem img {
        width: 50px;
        height: 100%;
    }
    /* Properties of worldNav */
    .header__worldNav {
        grid-area: worldNav;
        position: relative;
        display: inline; 
    }
    
    .header__worldNav ul {
        list-style-type: disc;
    }
    .header__worldNav li {
        font-size: 2em;
        margin: 0px;
        padding: 0px;
        display: inline;
        border-bottom: none;
    }
    
    .header__worldNav li a {
        color: #909090;
        font-size: .5em; 
        display: table-row;
    }
    .header__worldNav ul li:nth-child(1) a {
        color: #8A0072;
    }
    
    /* Properties of worldNav */
    /* Properties of menuNav_02 */
    .header__menuNav_02 {
        grid-area: menuNav2; 
        list-style: none;      
        display: inline;
        z-index: 200;
    }
    .header__menuNav_02 {
        list-style-type: circle;
    }
    .header__menuNav_02 li {
        font-size: 2em;
        margin: 0px;
        padding: 0px;
        border-right: 1px solid  #8A0072;
        display: inline;
    }
    .header__menuNav_02 li:nth-child(5) {
        border-right: none;
      }
    .header__menuNav_02 li a {
        color: #8A0072;
        font-size: .5em;
        padding: .2em;
    }
    
    .
}